@using EndPoint.Site.Models.ViewModels.HomePages;
@using Shop.Domain.Entities.HomePages;
@model HomePageViewModel;
@{
    Layout = null;
    decimal DisCount = 1;
}
<!------------------------ Laptop and Computer Category ------------------------>
@if (Model.LaptopAndComputerCategory.Any())
{
    <div class="col-lg-12 col-md-12 col-xs-12 pr order-1 d-block">
        <div class="slider-widget-products">
            <div class="widget widget-product card">
                <header class="card-header">
                    <span class="title-one">کامپیوتر و لپ تاپ</span>
                    <h3 class="card-title"></h3>
                </header>
                <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                            @foreach (var item in Model.LaptopAndComputerCategory)
                            {
                                <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="~/Produtcs/Detail/@item.Id" target="_blank" class="d-block hover-img-link">
                                            <img src="~/@item.ImageSrc" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a href="~/Produtcs/Detail/@item.Id" target="_blank">
                                                @item.Title
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del>
                                                <span>
                                                    @{
                                                        DisCount = (decimal)@item.Price * (decimal)1.01;
                                                    }
                                                    @DisCount.ToString("n0")&nbsp;
                                                    <span>تومان</span>
                                                </span>

                                            </del>
                                            <ins><span>@item.Price.ToString("n0")&nbsp;<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="owl-nav">
                        <button type="button" role="presentation" class="owl-prev disabled">
                            <i class="fa fa-angle-right"></i>
                        </button>
                        <button type="button" role="presentation" class="owl-next">
                            <i class="fa fa-angle-left"></i>
                        </button>
                    </div>
                    <div class="owl-dots disabled"></div>
                </div>
            </div>
        </div>
    </div>
}

<!------------------------ Laptop and Computer Category ------------------------>