@addTagHelper *, LazZiya.TagHelpers
@using Shop.Application.Services.Products.Queries.GetProductForSite;
@model ResultProductForSiteDto;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int pageNumber = 1;
    int pageSize = 20;
    int.TryParse(Context.Request.Query["Page"], out pageNumber);
    int.TryParse(Context.Request.Query["PageSize"], out pageSize);
}

<div class="col-lg-12 col-md-12 col-xs-12 pl">
    <div class="shop-archive-content mt-3 d-block">
        <div class="archive-header">
            <h2 class="archive-header-title"> محصولات</h2>
            <div class="sort-tabs mt-0 d-inline-block pr">
                <h4>مرتب&zwnj;سازی بر اساس :</h4>
            </div>
            <div class="nav-sort-tabs-res">
                <ul class="nav sort-tabs-options" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="~/Products?Searchkey=@Context.Request.Query["SearchKey"]&CategoryId=@Context.Request.Query["CategoryId"]&ordering=theNewest" role="tab" aria-controls="theNewest" aria-selected="true">جدیدترین</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Products?Searchkey=@Context.Request.Query["SearchKey"]&CategoryId=@Context.Request.Query["CategoryId"]&ordering=Bestselling" role="tab" aria-controls="Bestselling" aria-selected="false">پرفروش&zwnj;ترین&zwnj;</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Products?Searchkey=@Context.Request.Query["SearchKey"]&CategoryId=@Context.Request.Query["CategoryId"]&ordering=MostPopular" role="tab" aria-controls="MostPopular" aria-selected="false">محبوب&zwnj;ترین</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Products?Searchkey=@Context.Request.Query["SearchKey"]&CategoryId=@Context.Request.Query["CategoryId"]&ordering=MostVisited" role="tab" aria-controls="MostVisited" aria-selected="false">پربازدیدترین</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Products?Searchkey=@Context.Request.Query["SearchKey"]&CategoryId=@Context.Request.Query["CategoryId"]&ordering=TheCheapest" role="tab" aria-controls="TheCheapest" aria-selected="false">ارزان&zwnj;ترین</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Products?Searchkey=@Context.Request.Query["SearchKey"]&CategoryId=@Context.Request.Query["CategoryId"]&ordering=theMostExpensive" role="tab" aria-controls="theMostExpensive" aria-selected="false">گران&zwnj;ترین</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="product-items">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="Most-visited" role="tabpanel" aria-labelledby="Most-visited-tab">
                    <div class="row">
                        @foreach (var item in Model.Products)
                        {
                            <div class="col-lg-3 col-md-3 col-xs-12 order-1 d-block mb-3">
                                <section class="product-box product product-type-simple">
                                    <div class="thumb">
                                        <a href="~/Products/Detail/@item.Id" class="d-block">
                                            <div class="product-rate">

                                                @for (int i = 1; i <= item.Star; i++)
                                                {
                                                    <i class="fa fa-star active"></i>
                                                }
                                                @for (int i = 1; i <= (5 - item.Star); i++)
                                                {
                                                    <i class="fa fa-star"></i>
                                                }
                                            </div>
                                            <img style="width:400px;height:300px;" src="~/@item.ImageSrc">
                                        </a>
                                    </div>
                                    <div class="title">
                                        <a href="~/Products/Detail/@item.Id">  @item.Title</a>
                                    </div>
                                    <div class="price">
                                        <span class="amount">
                                            @item.Price.ToString("n0")
                                            <span>تومان</span>
                                        </span>
                                    </div>
                                </section>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination-product">
            <nav aria-label="Page navigation example">                
                <div class="text-center">
                    <paging total-records="@Model.TotalRow"
                            page-no="@pageNumber == 0 ? 1 : pageNumber"
                            page-size="@pageSize == 0 ? 20: pageSize"
                            show-prev-next="true"
                            show-total-pages="true"
                            show-total-records="true"
                            show-page-size-nav="true"
                            show-first-numbered-page="true"
                            show-last-numbered-page="true"
                            gap-size="2"
                            max-displayed-pages="4"
                            query-string-key-page-no="Page"
                            query-string-key-page-size="PageSize"
                            query-string-value="@@(Request.QueryString.Value)"
                            page-size-dropdown-items="10-20-30-50-100-500"
                            page-size-nav-block-size="10"
                            page-size-nav-max-items="4"
                            page-size-nav-on-change="get"
                            page-size-nav-form-method="this.form.submit();"
                            class="row"
                            class-paging-control-div="col"
                            class-info-div="col"
                            class-page-size-div="col"
                            class-paging-control="pagination"
                            class-active-page="active"
                            class-disabled-jumping-button="active"
                            class-total-pages="badge badge-primary"
                            class-total-records="badge badge-info"
                            text-page-size="موارد در هر برگه:"
                            text-total-pages="برگه"
                            text-total-records="محصول"
                            text-first="&laquo;"
                            text-last="&raquo;"
                            text-previous="&lsaquo;"
                            text-next="&rsaquo;"
                            sr-text-first="نخستین"
                            sr-text-last="آخرین"
                            sr-text-previous="پیشین"
                            sr-text-next="پسین">
                    </paging>
                </div>
            </nav>
        </div>
    </div>
</div>